@{
    ViewBag.Title = "Structure";

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-12" style="margin-bottom:50px">
    <a type="button" style="float: left; font-size: 20px; font-weight: bold; " href="@Url.Action("ListeStructure","Admin")">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-90deg-left"></i>&nbsp;Retour</a>
</div>
@using (Html.BeginForm("AjouterStructure", "Admin", FormMethod.Post))
{
    <div class="container-fluid py-4 pb-2">
        <div class="row">
            <div class="col-12">
                <div class="card p-4" style="margin:10px">
                    <div class="card-header" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class=" shadow-primary border-radius-lg">
                            <h3 class="text-capitalize  text-center" style="color:white">Affilier Laboratoire </h3>
                        </div>
                    </div>
                    <center> <p style="background-color: white; color: red">@ViewBag.sms</p></center>
                    <center> <p style="background-color:white;color:green">@ViewBag.Message</p></center>
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-6">
                                <div class="container">
                                    <div class="row" style="background-color:white;margin-top:10px ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" style="border: solid; background: #03DAFC; font-size: 30px; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                                <center>
                                                    <h3 style="color: white; background-color: #03DAFC;">Structure </h3>
                                                </center>
                                            </div>
                                            <div class="panel-body">
                                                <br />
                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%; color:white">Nom Structure</label>
                                                    <input type="text" value="@ViewBag.NameStructure" name="NameStructure" id="NameStructure" onchange="hideError()" class="form-control" required>
                                                </div>
                                                <p class="text-danger" id="NameStructureError" style="font-size: 80%;font-weight: bold">Veuillez saisir le nom svp </p>

                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Adresse</label>
                                                    <input type="text" value="@ViewBag.Adresse" name="AdresseStructure" id="AdresseStructure" onchange="hideError()" class="form-control" required>
                                                </div>
                                                <p class="text-danger" id="AdresseStructureError" style="font-size: 80%;font-weight: bold">Veuillez saisir l'adresse svp </p>

                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Email</label>
                                                    <input name="EmailStructure" value="@ViewBag.Email" type="Email" class="form-control">
                                                </div>

                                                <div>
                                                    <label class="text" style="width:100%">T&eacute;l&eacute;phone  <span id="NumeroFormatStructure" style="color:red">Numero Format invalid</span></label>
                                                    <p id="PhoneParaStructure" style="border-style: solid; border-width: 1px; border-radius: 5px; border-color: #DFE3E7 "><input name="PhoneTStructure" id="PhoneTStructure" onkeypress="return isNumberKey2(this.id);" onchange="showPhoneStructure()" type="tel" class="form-control " required></p>
                                                </div>
                                                <input name="PhoneStructure" id="PhoneStructure" type="text" class="form-control" hidden>
                                                <p class="text-danger" id="PhoneTStructureError" style="font-size: 80%;font-weight: bold">Veuillez saisir le numéro de téléphone svp </p>


                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Type</label>
                                                    <select id="type" name="TypeStructure" class="form-control" required>
                                                        <option></option>
                                                        <option value="Laboratoire" selected>Laboratoire</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row" style="background-color:white;margin-top:10px ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" style="border: solid; background: #03DAFC; font-size: 30px; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                                <center>
                                                    <h3 style="color: white; background-color: #03DAFC;">Manager</h3>
                                                </center>
                                            </div>
                                            <br />
                                            <div class="panel-body">
                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Prénom</label>
                                                    <input type="text" value="@ViewBag.Prenom" name="NameManager" id="NameManager" onchange="hideError()" class="form-control" required>
                                                </div>
                                                <p class="text-danger" id="NameManagerError" style="font-size: 80%;font-weight: bold">Veuillez saisir le prénom svp </p>

                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Nom</label>
                                                    <input type="text" name="SurnameManager" id="SurnameManager" value="@ViewBag.Nom" onchange="hideError()" class="form-control" required>
                                                </div>
                                                <p class="text-danger" id="SurnameManagerError" style="font-size: 80%;font-weight: bold">Veuillez saisir le nom svp </p>

                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Titre </label>
                                                    <select id="titre" name="TitreManager" onchange="hideError()" class="form-control" required>
                                                        @if (ViewBag.Titre != null)
                                                        {
                                                            <option value="@ViewBag.Titre" selected>@ViewBag.Titre</option>
                                                            <option value="Biologiste">Biologiste</option>
                                                            <option value="Biochimiste">Biochimiste</option>
                                                            <option value="Technicien-Laboratoire">Technicien-Laboratoire</option>
                                                            <option value="Caissier(e)-Laboratoire">Caissier(e)-Laboratoire</option>

                                                        }
                                                        else
                                                        {
                                                            <option> </option>
                                                            <option value="Biologiste">Biologiste</option>
                                                            <option value="Biochimiste">Biochimiste</option>
                                                            <option value="Technicien-Laboratoire">Technicien-Laboratoire</option>
                                                            <option value="Caissier(e)-Laboratoire">Caissier(e)-Laboratoire</option>

                                                        }
                                                    </select>
                                                </div>
                                                <p class="text-danger" id="TitreManagerError" style="font-size: 80%;font-weight: bold">Veuillez choisir le titre  svp </p>

                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Mot de passe</label>
                                                    <input name="PwdManager" id="PwdManager" type="password" class="form-control" onchange="hideError()" required>
                                                </div>
                                                <p class="text-danger" id="PwdManagerError" style="font-size: 80%;font-weight: bold">Veuillez saisir le mot de passe  svp </p>

                                                <div>
                                                    <label class="text" style="width:100%">T&eacute;l&eacute;phone  <span id="NumeroFormatManager" style="color:red">Numero Format invalid</span></label>
                                                    <p id="PhoneParaManager" style="border-style: solid; border-width: 1px; border-radius: 5px; border-color: #DFE3E7 "><input name="PhoneTManager" id="PhoneTManager" onkeypress="return isNumberKey2(this.id);" onchange="showPhoneManager()" type="tel" class="form-control " required></p>
                                                </div>
                                                <input name="PhoneManager" id="PhoneManager" onchange="hideError()" type="text" class="form-control" hidden>
                                                <p class="text-danger" id="PhoneTManagerError" style="font-size: 80%;font-weight: bold">Veuillez saisir le téléphone svp </p>


                                                <div class="input-group input-group-outline mb-3">
                                                    <label class="text" style="width:100%">Email</label>
                                                    <input name="EmailManager" value="@ViewBag.Email" type="Email" class="form-control">
                                                </div>


                                            </div>
                                            <button class="btn btn-primary" onclick="showError()" style="float:right; background-color:black"> <span class="fa fa-user"></span> Enregistrer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $('#NameStructureError').hide();
    $('#AdresseStructureError').hide();
    $('#PhoneTStructureError').hide();


    $('#NameManagerError').hide();
    $('#SurnameManagerError').hide();
    $('#TitreManagerError').hide();
    $('#PwdManagerError').hide();
    $('#PhoneTManagerError').hide();


    document.getElementById("NumeroFormatStructure").style.display = 'none';
    const phoneInputFieldStructure = document.querySelector("#PhoneTStructure");
    const phoneInputStructure = window.intlTelInput(phoneInputFieldStructure, {
       autoPlaceholder: "off",
        initialCountry: "sn",
        formatOnDisplay: false,
        nationalMode: true,
        onlyCountries: ['dz', 'ao', 'bj', 'bw', 'bf', 'bi', 'cm', 'cv', 'cf', 'td', 'km', 'cg', 'cd', 'ci', 'dj', 'eg',
            'gk', 'er', 'et', 'ga', 'gm', 'gh', 'gn', 'gw', 'ke', 'ls', 'lr', 'ly', 'mj', 'ml', 'mw', 'mr', 'mu', 'yt',
            'ma', 'mz', 'na', 'ne', 'ng', 're', 'rw', 'st', 'sn', 'sc', 'sl', 'so', 'za', 'ss', 'sd', 'sz', 'tz',
            'tg', 'tn', 'ug', 'eh', 'zm', ' zw'],

        separateDialCode: true,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    $('#PhoneTStructure').on("countrychange", function (event) {

        // Get the selected country data to know which country is selected.
        var selectedCountryData = phoneInputStructure.getSelectedCountryData();

        // Get an example number for the selected country to use as placeholder.
        newPlaceholder = intlTelInputUtils.getExampleNumber(selectedCountryData.iso2, true, intlTelInputUtils.numberFormat.INTERNATIONAL),

            // Reset the phone number input.
            phoneInputStructure.setNumber("");

        // Convert placeholder as exploitable mask by replacing all 1-9 numbers with 0s
        mask = newPlaceholder.replace(/[1-9]/g, "0");

        // Apply the new mask for the input
        $(this).mask(mask);
    });

     if (@Html.Raw(Json.Encode(@ViewBag.Phone)) != null)
    {

     phoneInputStructure.setNumber("+" +@Html.Raw(Json.Encode(@ViewBag.Phone)));
     document.getElementById("PhoneStructure").value = @Html.Raw(Json.Encode(@ViewBag.Phone));

    }

        function showPhoneStructure()
        {
            if ($('#Name').val() != null) { $('#NameError').hide(); }
            if ($('#Surname').val() != null) { $('#SurnameError').hide(); }
            if ($('#PhoneT').val() != null) { $('#PhoneTError').hide(); }
            if ($('#Birth').val() != null) { $('#BirthError').hide(); }

            if ($('#NameStructure').val() != null) { $('#NameStructureError').hide(); }
            if ($('#AdresseStructure').val() != null) { $('#AdresseStructureError').hide(); }
            if ($('#PhoneTStructure').val() != null) { $('#PhoneTStructureError').hide(); }

            if ($('#NameManager').val() != null) { $('#NameManagerError').hide(); }
            if ($('#SurnameManager').val() != null) { $('#SurnameManagerError').hide(); }
            if ($('#TitreManager').val() != null) { $('#TitreManagerError').hide(); }
            if ($('#PwdManager').val() != null) { $('#PwdManagerError').hide(); }
            if ($('#PhoneTManager').val() != null) { $('#PhoneTManagerError').hide(); }

            if (phoneInputStructure.isValidNumber())
        {
                document.getElementById("NumeroFormatStructure").style.display = 'none';
                document.getElementById("PhoneParaStructure").style.borderColor = "#DFE3E7";
                document.getElementById("PhoneStructure").value = phoneInputStructure.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneTStructure").value;
        }
        else
        {
                document.getElementById("NumeroFormatStructure").style.display = 'none';
                document.getElementById("PhoneParaStructure").style.borderColor = "#DFE3E7";
                document.getElementById("PhoneStructure").value = phoneInputStructure.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneTStructure").value;

        }

        }

    function isNumberKey2(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }




    function showError() {
        if ($('#NameStructure').val().length == 0) { $('#NameStructureError').show(); }
        if ($('#AdresseStructure').val().length == 0) { $('#AdresseStructureError').show(); }
        if ($('#PhoneTStructure').val().length == 0) { $('#PhoneTStructureError').show(); }

        if ($('#NameManager').val().length == 0) { $('#NameManagerError').show(); }
        if ($('#SurnameManager').val().length == 0) { $('#SurnameManagerError').show(); }
        if ($('#titre').val().length == 0) { $('#TitreManagerError').show(); }
        if ($('#PwdManager').val().length == 0) { $('#PwdManagerError').show(); }
        if ($('#PhoneTManager').val().length == 0) { $('#PhoneTManagerError').show(); }


    }
    function hideError() {

        if ($('#Name').val() != null) { $('#NameError').hide(); }
        if ($('#Surname').val() != null) { $('#SurnameError').hide(); }
        if ($('#PhoneT').val() != null) { $('#PhoneTError').hide(); }
        if ($('#Birth').val() != null) { $('#BirthError').hide(); }

        if ($('#NameStructure').val() != null) { $('#NameStructureError').hide(); }
        if ($('#AdresseStructure').val() != null) { $('#AdresseStructureError').hide(); }
        if ($('#PhoneTStructure').val() != null) { $('#PhoneTStructureError').hide(); }

        if ($('#NameManager').val() != null) { $('#NameManagerError').hide(); }
        if ($('#SurnameManager').val() != null) { $('#SurnameManagerError').hide(); }
        if ($('#titre').val() != null) { $('#TitreManagerError').hide(); }
        if ($('#PwdManager').val() != null) { $('#PwdManagerError').hide(); }
        if ($('#PhoneTManager').val() != null) { $('#PhoneTManagerError').hide(); }


    }

</script>


<script>
    document.getElementById("NumeroFormatManager").style.display = 'none';
    const phoneInputFieldManager = document.querySelector("#PhoneTManager");
    const phoneInputManager = window.intlTelInput(phoneInputFieldManager, {

       autoPlaceholder: "off",
        formatOnDisplay: false,

        initialCountry: "sn",
        nationalMode: true,
        onlyCountries: ['dz', 'ao', 'bj', 'bw', 'bf', 'bi', 'cm', 'cv', 'cf', 'td', 'km', 'cg', 'cd', 'ci', 'dj', 'eg',
            'gk', 'er', 'et', 'ga', 'gm', 'gh', 'gn', 'gw', 'ke', 'ls', 'lr', 'ly', 'mj', 'ml', 'mw', 'mr', 'mu', 'yt',
            'ma', 'mz', 'na', 'ne', 'ng', 're', 'rw', 'st', 'sn', 'sc', 'sl', 'so', 'za', 'ss', 'sd', 'sz', 'tz',
            'tg', 'tn', 'ug', 'eh', 'zm', ' zw'],

        separateDialCode: true,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    $('#PhoneTManager').on("countrychange", function (event) {

        // Get the selected country data to know which country is selected.
        var selectedCountryData = phoneInputManager.getSelectedCountryData();

        // Get an example number for the selected country to use as placeholder.
        newPlaceholder = intlTelInputUtils.getExampleNumber(selectedCountryData.iso2, true, intlTelInputUtils.numberFormat.INTERNATIONAL),

            // Reset the phone number input.
            phoneInputManager.setNumber("");

        // Convert placeholder as exploitable mask by replacing all 1-9 numbers with 0s
        mask = newPlaceholder.replace(/[1-9]/g, "0");

        // Apply the new mask for the input
        $(this).mask(mask);
    });


     if (@Html.Raw(Json.Encode(@ViewBag.PhoneManager)) != null)
     {
         phoneInputManager.setNumber("+" +@Html.Raw(Json.Encode(@ViewBag.PhoneManager)));
         document.getElementById("PhoneManager").value = "+" +@Html.Raw(Json.Encode(@ViewBag.PhoneManager));

    }



      function showPhoneManager()
      {
          if ($('#Name').val() != null) { $('#NameError').hide(); }
          if ($('#Surname').val() != null) { $('#SurnameError').hide(); }
          if ($('#PhoneT').val() != null) { $('#PhoneTError').hide(); }
          if ($('#Birth').val() != null) { $('#BirthError').hide(); }

          if ($('#NameStructure').val() != null) { $('#NameStructureError').hide(); }
          if ($('#AdresseStructure').val() != null) { $('#AdresseStructureError').hide(); }
          if ($('#PhoneTStructure').val() != null) { $('#PhoneTStructureError').hide(); }

          if ($('#NameManager').val() != null) { $('#NameManagerError').hide(); }
          if ($('#SurnameManager').val() != null) { $('#SurnameManagerError').hide(); }
          if ($('#TitreManager').val() != null) { $('#TitreManagerError').hide(); }
          if ($('#PwdManager').val() != null) { $('#PwdManagerError').hide(); }
          if ($('#PhoneTManager').val() != null) { $('#PhoneTManagerError').hide(); }

            if (phoneInputManager.isValidNumber())
        {
            document.getElementById("NumeroFormatManager").style.display = 'none';
            document.getElementById("PhoneParaManager").style.borderColor = "#DFE3E7";
            document.getElementById("PhoneManager").value = phoneInputManager.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneTManager").value;
            console.log(document.getElementById("PhoneManager").value)

        }
        else
        {
                document.getElementById("NumeroFormatStructure").style.display = 'none';
                document.getElementById("PhoneParaStructure").style.borderColor = "#DFE3E7";
                document.getElementById("PhoneStructure").value = phoneInputStructure.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneTStructure").value;

        }

    }

</script>



