@model PagedList.IPagedList<digi_sante.Models.Departement>

@{
    ViewBag.Title = "ListeDepartement";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using PagedList.Mvc;
<style>
    table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        text-align: left;
        width: 800px;
    }

    th {
        background: linear-gradient(black,black);
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: inset 0 1px 0 black;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

        th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        th:first-child {
            border-left: 1px solid #777;
            box-shadow: inset 1px 1px 0 black;
        }

        th:last-child {
            box-shadow: inset -1px 1px 0 black;
        }

    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        transition: all 300ms;
    }

        td:first-child {
            box-shadow: inset 1px 0 0 #fff;
        }

        td:last-child {
            border-right: 1px solid #e8e8e8;
            box-shadow: inset -1px 0 0 #fff;
        }

    tr {
    }

        tr:nth-child(odd) td {
            background: #f1f1f1;
        }

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

    tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<div class="row">
    <a type="button" style="float: left; font-size: 20px; font-weight: bold; " href="@Url.Action("Parametres", "Admin")">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Arrière</a>
</div>
<div class="container-fluid p-4" style="margin-top:-30px">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">

                <div class="card-header">
                    <div class=" shadow-primary border-radius-lg pt-4 pb-3" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                        @if (ViewBag.sms != null)
                        {
                            <h3 class="text-capitalize  text-center" style="color:white">
                                @ViewBag.sms
                            </h3>

                        }
                        else
                        {
                            <h3 class="text-capitalize  text-center" style="color:white">
                                @ViewBag.message

                            </h3>

                        }
                    </div>
                </div>
                <center> <p style="background-color:white;color:green">@TempData["lock"]</p></center>

                <div class="card-body px-0">
                    <div class="table-responsive p-0">

                        <center>
                            <div class="row" style="width:100%; margin-bottom:10px">
                                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">
                                    @using (Html.BeginForm("ListeDepartement", "Admin", FormMethod.Get))
                                    {
                                        <div class="row">
                                            <div class="col-6">
                                                <a><input type="text" name="searching" class="form-control" style="background-color:whitesmoke;width:96%" placeholder=" Chercher département" /></a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-primary" style="float: left; background-color: #03DAFC; "> <span class="fa fa-search"></span>Rechercher</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 col-xl-2">
                                    <a href="@Url.Action("ListeDepartement","Admin")" class="btn btn-primary" style="float: right; background-color: #03DAFC; width: 100%">  Initialiser</a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 col-xl-2">
                                    <a onclick="document.getElementById('ajouterDepartement').style.display = 'block'" class="btn btn-primary" style="float: right;color:white; background-color: #03DAFC; width: 100%">Ajouter </a>
                                </div>
                            </div>
                        </center>
                        @if (Model.Count < 1)
                        {

                            <center>
                                <h2>Aucun département </h2>
                            </center>
                        }
                        else
                        {
                            <table class="table align-items-center mb-0" id="tableID" style="width:100%">


                                <thead>
                                    <tr>
                                        <th>Département</th>
                                        <th>état</th>
                                        <th>Modifier</th>
                                        <th>Bloquer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var departement in Model)
                                    {
                                        <tr>
                                            <td style="color:black">
                                                @departement.nom
                                            </td>
                                            @if (departement.status == true)
                                            {
                                                <td style="color:green">
                                                    Active
                                                </td>



                                            }
                                            else
                                            {
                                                <td style="color:red">
                                                    Desactive
                                                </td>



                                            }
                                            <td style="color:black">
                                                <a onclick="modalModifierDepartement(@departement.departementID)"><span class="fa fa-edit"></span></a>
                                            </td>
                                            <td style="color:black">
                                                <a onclick="bloquageModal(@departement.departementID)"><span class="fa fa-lock"></span></a>
                                            </td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        }


                    </div>
                    <center style="margin-top:2.5%;">
                        <div class="pagination" style="width:200px;margin-right:2.5%;margin-left:2.5%">
                            @Html.PagedListPager(Model, page => Url.Action("ListDepartement", new { page, searching = ViewBag.CurrentFilter }) + "#Product", new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5, ContainerDivClasses = new List<string> { "MenuTab", "MenuTab" }, LiElementClasses = new List<string> { "pagination-bar", "pagination-bar" }, DelimiterBetweenPageNumbers = "-" })

                        </div>
                    </center>

                </div>


            </div>
        </div>
    </div>
</div>

<div id="bloquageModal" class="modal container-fluid ">
    <div class="container-fluid" style="width:50%">
        <div class="row">
            <div class="col-12">
                <div class="card p-4">

                    <center> <p style="background-color: white; color: red">Voulez-vous bloquer ce département ?</p></center>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                                <a class="btn btn-primary" onclick="bloquage()" style="color: white; background-color: #03DAFC; width: 100%"> Oui</a>
                            </div>
                            <input type="text" class="form-control" id="idDepart" name="idDepart" hidden />

                            <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                                <a class="btn btn-primary" onclick=" document.getElementById('bloquageModal').style.display = 'none'" style="color: white; background-color: #03DAFC; width: 100% ">Non</a>

                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--AJOUTER  DEPARTEMENT -->
<div id="ajouterDepartement" class="modal container-fluid ">
    <div class="container" style="width:70%">
        <div class="container-fluid py-4 pb-2">
            <div class="row">
                <div class="col-12">
                    <div class="card p-4" style="margin:10px">
                        <div class="card-header" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class=" shadow-primary border-radius-lg">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-xl-8 col-sm-8 mt-3">
                                        <h3 class="text-capitalize  text-center" style="color:white">Nouveau Département </h3>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4 mt-3">
                                        <a class="btn btn-primary text-center " onclick="document.getElementById('ajouterDepartement').style.display = 'none'; window.location.reload()" style="width:5%; background-color:white; float:right;color:black">X&ensp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center> <p style="background-color: white; color: red" id="smsDepartement"></p></center>
                        <center> <p style="background-color:white;color:green" id="messageDepartement"></p></center>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" placeholder="nom département" style="background-color:whitesmoke" id="NameDepartement" name="NameDepartement" required>
                                    <p class="text-danger" id="NameErrorDepartement" style="font-size: 80%;font-weight: bold">Veuillez saisir le nom svp </p>
                                </div>

                                <div class="col-lg-6">
                                    <button class="btn btn-primary" onclick="showErrorDepartement()" style="float:right; background-color:black"> Enregistrer</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--MODIFIER  DEPARTEMENT -->
<div id="modifierDepartement" class="modal container-fluid ">
    <div class="container" style="width:70%">
        <div class="container-fluid py-4 pb-2">
            <div class="row">
                <div class="col-12">
                    <div class="card p-4" style="margin:10px">
                        <div class="card-header" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class=" shadow-primary border-radius-lg">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-xl-8 col-sm-8 mt-3">
                                        <h3 class="text-capitalize  text-center" style="color:white">Modifier Département </h3>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4 mt-3">
                                        <a class="btn btn-primary text-center " onclick="document.getElementById('modifierDepartement').style.display = 'none'; window.location.reload()" style="width:5%; background-color:white; float:right;color:black">X&ensp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center> <p style="background-color: white; color: red" id="smsDepartementM"></p></center>
                        <center> <p style="background-color:white;color:green" id="messageDepartementM"></p></center>
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="departementID" hidden>

                                    <input type="text" class="form-control" placeholder="nom département" style="background-color:whitesmoke" id="NameDepartementM" name="NameDepartementM" required>
                                    <p class="text-danger" id="NameErrorDepartementM" style="font-size: 80%;font-weight: bold">Veuillez saisir le nom svp </p>
                                </div>

                                <div class="col-lg-6">
                                    <button class="btn btn-primary" onclick="showErrorDepartementM()" style="float:right; background-color:black"> Enregistrer</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    function bloquageModal(id) {
        document.getElementById('bloquageModal').style.display = 'block'
        document.getElementById('idDepart').value = id;
    }
    function bloquage()
    {



        $.post('@Url.Action("desactiverDepartement")', { No: document.getElementById('idDepart').value},
                             function (reponse)
                             {

                                window.location.reload()


                            }).fail(function (xhr, status, error)
                            {
                                window.location.reload()

                           });

    }

</script>
<!-- JS DEPARTEMENT-->

<script type="text/javascript">
    $('#NameErrorDepartementM').hide();
    $('#NameErrorDepartement').hide();
    function showErrorDepartement() {
        if ($('#NameDepartement').val().length == 0) {
            $('#NameErrorDepartement').show();
        }
        else {
            enregistrerDepartement();
        }

    }
    function hideError() {

        if ($('#NameDepartement').val() != null) { $('#NameErrorDepartement').hide(); }


    }


</script>

<script type="text/javascript">

    function enregistrerDepartement()
    {
        document.getElementById("smsDepartement").innerText=null
        document.getElementById("messageDepartement").innerText = null

        $.post('@Url.Action("AjouterDepartement")',
            {
                NameDepartement: $('#NameDepartement').val()
            },
            function (reponse)
            {
                console.log(JSON.stringify(reponse))
                switch (reponse.code) {
                    case 200:
                        document.getElementById("smsDepartement").innerText = null
                        document.getElementById("messageDepartement").innerText = reponse.message
                        setTimeout(() => { window.location.reload() }, 1000);

                        break;
                    case 201:
                        document.getElementById("messageDepartement").innerText = null
                        document.getElementById("smsDepartement").innerText = reponse.message
                        break;
                    default:
                        document.getElementById("messageDepartement").innerText = null
                        document.getElementById("smsDepartement").innerText = reponse.message

                }



            }).fail(function (xhr, status, error) {
                document.getElementById("smsDepartement").innerText = " Une erreur interne est survenue"

            });

    }

</script>

<script type="text/javascript">
    function modalModifierDepartement(id)
    {
         var departements = @Html.Raw(Json.Encode(Model));
        var departement = departements.filter(a => a.departementID == id)[0]
        $('#NameDepartementM').val(departement.nom)
        document.getElementById('modifierDepartement').style.display = 'block'
        document.getElementById('departementID').value = id;

    }
    function modifierDepartement()
    {


        $.post('@Url.Action("modifierDepartement")', {
            No: document.getElementById('departementID').value,
            NameDepartement: $('#NameDepartementM').val()
        },
            function (reponse) {
                switch (reponse.code) {
                    case 200:
                        document.getElementById("smsDepartementM").innerText = null
                        document.getElementById("messageDepartementM").innerText = reponse.message
                        setTimeout(() => { window.location.reload() }, 1000);

                        break;
                    case 201:
                        document.getElementById("messageDepartementM").innerText = null
                        document.getElementById("smsDepartementM").innerText = reponse.message
                        break;
                    default:
                        document.getElementById("messageDepartementM").innerText = null
                        document.getElementById("smsDepartementM").innerText = reponse.message

                }



            }).fail(function (xhr, status, error) {
                document.getElementById("smsDepartementM").innerText = " Une erreur interne est survenue"

            });

    }


    function showErrorDepartementM()
    {
        if ($('#NameDepartementM').val().length == 0) { $('#NameErrorDepartementM').show(); }
        else {
            modifierDepartement()
        }


    }


</script>