@model  PagedList.IPagedList<Consultation>
@{
    ViewBag.Title = "Liste Consultation Patient";

    Layout = "~/Views/Shared/AdminLayout.cshtml";
    Culture = UICulture = "fr-SN";
}
@using PagedList.Mvc;
@using digi_sante.Models;
<style>
    table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        text-align: left;
        width: 800px;
    }

    th {
        background: linear-gradient(black,black);
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: inset 0 1px 0 black;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

        th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        th:first-child {
            border-left: 1px solid #777;
            box-shadow: inset 1px 1px 0 black;
        }

        th:last-child {
            box-shadow: inset -1px 1px 0 black;
        }

    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        transition: all 300ms;
    }

        td:first-child {
            box-shadow: inset 1px 0 0 #fff;
        }

        td:last-child {
            border-right: 1px solid #e8e8e8;
            box-shadow: inset -1px 0 0 #fff;
        }

    tr {
    }

        tr:nth-child(odd) td {
            background: #f1f1f1;
        }

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

    tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<div class="container-fluid p-4" style="margin-top:-30px">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">

                <div class="card-header">
                    <div class=" shadow-primary border-radius-lg pt-4 pb-3" style="border: solid; font-size: 30px; background-color: #6d7fcc; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        @if (ViewBag.sms != null)
                        {
                            <h3 class="text-capitalize  text-center" style="color:white">
                                @ViewBag.sms
                            </h3>

                        }
                        else
                        {
                            <h3 class="text-capitalize  text-center" style="color:white">
                                @ViewBag.message

                            </h3>

                        }
                    </div>
                </div>
                <center> <p style="background-color:white;color:green">@TempData["lockListConsultationPatient"]</p></center>

                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="row" style="width:100%; margin-bottom:10px">
                            <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">
                                @using (Html.BeginForm("ListConsultationPatient", "Admin", FormMethod.Get))
                                {
                                    <div class="row">
                                        <div class="col-6">
                                            <a><input type="text" name="searching" class="form-control" style="background-color:whitesmoke;width:96%" placeholder=" Chercher  patient" /></a>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-primary" style="float: left; background-color: #6d7fcc "> <span class="fa fa-search"></span>Rechercher</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2 col-xl-2">
                                <a href="@Url.Action("ListConsultationPatient","Admin")" class="btn btn-primary" style="float: right; background-color: #6d7fcc; width: 100%">  Initialiser</a>
                            </div>
                            
                        </div>

                        @if (Model.Count < 1)
                        {


                            <center>
                                <h2>Aucune consultation disponible  </h2>
                            </center>
                        }
                        else
                        {
                            <table class="table align-items-center mb-0" id="tableID">
                                <thead>
                                    <tr>
                                        <th style="display:none"></th>
                                        <th>N°Consultation </th>
                                        <th>Date Consultation</th>
                                        <th>Recupérer</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in Model)
                                    {
                                        <tr>
                                            <td style="color:black">
                                                @a.consultationID
                                            </td>
                                            <td style="color:black">
                                                @a.date_consultation.ToString()
                                            </td>
                                           
                                            <td>
                                                <center>
                                                    <a  onclick="bloquage(@a.consultationID)" class="btn btn-primary" style="color:white;background-color: #6d7fcc; width: 100px;">Choisir</a>
                                                </center>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }




                    </div>

                </div>


            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
   
      
   function bloquage(id)
    {


        $.post('@Url.Action("RecupererConsultation")', { No: id},
                             function (reponse)
                             {

                                window.location.reload()

                            }).fail(function (xhr, status, error)
                            {
                                window.location.reload()

                           }); 

    }

</script>

