@model  ListPatientData
@{ ViewBag.Title = "Liste de Patients";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }
@using PagedList.Mvc;
@using digi_sante.Models;
<style>
    table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        text-align: left;
        width: 800px;
    }

    th {
        background: linear-gradient(black,black);
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: inset 0 1px 0 black;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

        th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        th:first-child {
            border-left: 1px solid #777;
            box-shadow: inset 1px 1px 0 black;
        }

        th:last-child {
            box-shadow: inset -1px 1px 0 black;
        }

    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        transition: all 300ms;
    }

        td:first-child {
            box-shadow: inset 1px 0 0 #fff;
        }

        td:last-child {
            border-right: 1px solid #e8e8e8;
            box-shadow: inset -1px 0 0 #fff;
        }

    tr {
    }

        tr:nth-child(odd) td {
            background: #f1f1f1;
        }

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

    tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        width: 100%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="container-fluid p-4" style="margin-top:-30px">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">

                <div class="card-header">
                    <div class=" shadow-primary border-radius-lg pt-4 pb-3" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        @if (ViewBag.sms != null)
                        {
            <h3 class="text-capitalize  text-center" style="color:white">
                @ViewBag.sms
            </h3> }
        else
        {
<h3 class="text-capitalize  text-center" style="color:white">
    @ViewBag.message

</h3>}
                    </div>
                </div>
                <center> <p style="background-color:white;color:green">@TempData["lockPatient"]</p></center>

                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <center>
                            <div class="row" style="width:100%; margin-bottom:10px">
                                <div class="col-lg-8 col-sm-8 col-md-6 col-xl-8">
                                    @using (Html.BeginForm("ListePatients", "Admin", FormMethod.Get))
                                    {
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <a><input type="text" name="searching" class="form-control" style="background-color:whitesmoke" placeholder=" Chercher " /></a>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <button class="btn btn-primary" style="background-color: #03DAFC ;float:left"> <span class="fa fa-search"></span>Rechercher</button>
                            </div>
                        </div>}
                                </div>
                                <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2">
                                    <a href="@Url.Action("ListePatients","Admin")" class="btn btn-primary" style="float: left; background-color: #03DAFC; width: 100%">  Initialiser</a>
                                </div>
                                <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2">
                                    <a onclick=" document.getElementById('ajouterPatient').style.display = 'block'" class="btn btn-primary" style="float: left; background-color: #03DAFC; color:white;width: 100%">Ajouter </a>
                                </div>
                            </div>
                        </center>




                        @if (Model.patients.Count < 1)
                        {
            <center>
                <h2>Aucun un compte disponible</h2>

            </center> }
        else
        {
<table class="table align-items-center mb-0" id="tableID" style="width:100%">
    <thead>
        <tr>
            <th style="display:none"></th>
            <th>Nom </th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Sexe</th>
            <th>T&eacute;l&eacute;phone</th>
            <th>Profession</th>
            <th>Accompagnant</th>
            <th>Date_Naissance</th>
            <th>Date_Enregistrement</th>
            <th>Détails</th>
            <th>Partager</th>
            <th>Payer</th>
            <th>Modifier</th>
            <th>bloquer</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.patients)
        {
<tr>
    <td style="display:none">a.id_patient</td>
    <td style="color:black">
        @a.nom

    </td>

    <td style="color:black">

        @a.prenom


    </td>
    <td style="color:black">
        @a.adresse

    </td>
    <td style="color:black">

        @a.sexe

    </td>
    <td style="color:black">
        @a.telephone_patient
    </td>
    <td style="color:black">
        @a.profession
    </td>
    <td style="color:black">

        @a.prenom_accompagnant

    </td>
    <td style="color:black">
        @a.date_naissance.ToString().Substring(0, 10)
    </td>
    <td style="color:black">
        @a.date_enregistrement
    </td>
    <td>
        <a href="@Url.Action("DetailPatient","Admin",new {No=a.patientID})">
            <span style="width:100%;height:20px" class="fa fa-eye"> </span>
        </a>
    </td>
    <td>
        <a onclick="partagerPatient(@a.patientID)">
            <span style="width:100%;height:20px" class="fa fa-share"> </span>
        </a>
    </td>
    <td>
        <a onclick="ouvrirPaiementModal(@a.patientID)">
            <span style="width:100%;height:20px" class="fa fa-money-bill"> </span>
        </a>
    </td>
    <td>
        <a onclick="ouvrirModifierPatientModal(@a.patientID)">
            <span style="width:100%;height:20px" class="fa fa-edit"> </span>
        </a>
    </td>
    <td>
        <a onclick="bloquageModal(@a.patientID)">
            <span style="width:100%;height:20px" class="fa fa-lock"> </span>
        </a>
    </td>

</tr>}
    </tbody>
</table>}


                    </div>
                    <center>

                        <div class="pagination" style="width:200px;margin-right:2.5%;margin-left:2.5%">
                            @Html.PagedListPager(Model.patients, page => Url.Action("ListePatients", new { page, searching = ViewBag.CurrentFilter }) + "#Product", new PagedListRenderOptions { MaximumPageNumbersToDisplay = 4, ContainerDivClasses = new List<string> { "MenuTab", "MenuTab" }, LiElementClasses = new List<string> { "pagination-bar", "pagination-bar" }, DelimiterBetweenPageNumbers = "-" })

                        </div>
                    </center>
                </div>


            </div>
        </div>
    </div>
</div>

<!--AJOUTER PATIENT -->
<div id="ajouterPatient" class="modal container-fluid ">
    <div class="container" style="width:70%">
        <div class="row">
            <div class="col-12">
                <div class="card p-4" style="margin:10px">
                    <div class="card-header" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class=" shadow-primary border-radius-lg">
                            <h3 class="text-capitalize  text-center">Nouveau Patient </h3>
                        </div>
                    </div>
                    <center> <p style="background-color:white;color:red" id="sms"></p></center>
                    <center> <p style="background-color:white;color:green" id="message"></p></center>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline ">
                                    <label class="text" style="width:100%;color:black">Prénom</label>
                                    <input type="text" class="form-control" onchange="hideError()" value="@ViewBag.Name " style="background-color:whitesmoke" name="Name" id="Name" required>
                                </div>
                                <p class="text-danger" id="NameError" style="font-size: 80%;font-weight: bold">Veuillez saisir le prénom svp </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline ">
                                    <label class="text" style="width:100%;color:black">Nom</label>
                                    <input type="text" class="form-control" onchange="hideError()" value="@ViewBag.Surname " style="background-color:whitesmoke" name="Surname" id="Surname" required>
                                </div>
                                <p class="text-danger" id="SurnameError" style="font-size: 80%;font-weight: bold">Veuillez saisir le nom svp </p>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Adresse</label>
                                    <input type="text" class="form-control" style="background-color:whitesmoke" value="@ViewBag.Adresse " id="Adresse" name="Adresse">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Date de Naissance </label>
                                    <input type="date" class="form-control" onchange="hideError()" id="myDate" style="background-color:whitesmoke" name="Birth" value="@ViewBag.Birth" required>
                                </div>
                                <p class="text-danger" id="BirthError" style="font-size: 80%;font-weight: bold">Veuillez saisir la date de naissance svp </p>

                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="=text" style="width:100%;color:black">Nom complet accompagnant </label>
                                    <input type="text" class="form-control" style="background-color:whitesmoke" value="@ViewBag.Acc " name="Accompagner" id="Accompagner" placeholder="nom complet accompagnant">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Sexe</label>
                                    <select name="Gender" id="Gender" onchange="hideError()" class="form-control" value="@ViewBag.Gender" style="background-color:whitesmoke" required>
                                        <option value="Homme">Homme </option>
                                        <option value="Femme" selected>Femme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Profession</label>
                                    <input type="text" class="form-control" value="@ViewBag.Profession " style="background-color:whitesmoke" id="Profession" name="Profession">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <label class="text" style="width:100%">T&eacute;l&eacute;phone  <span id="NumeroFormat" style="color:red">Numero Format invalid</span></label>
                                    <p id="PhonePara" style="border-style: solid; border-width: 1px; border-radius: 5px; border-color: #DFE3E7 "><input name="PhoneT" id="PhoneT" onchange="showPhone()" type="tel" onkeypress="return isNumberKey2(this.id);" class="form-control " required></p>
                                </div>
                                <p class="text-danger" id="PhoneTError" style="font-size: 80%;font-weight: bold">Veuillez saisir le numéro de téléphone svp </p>

                                <input name="Phone" id="Phone" type="text" class="form-control" hidden>
                            </div>
                        </div>
                        <center>
                            <button class="btn btn-primary" onclick="document.getElementById('ajouterPatient').style.display = 'none'" style="float:left; background-color:black"> Fermer</button>

                            <button class="btn btn-primary" onclick="showError()" style="float:right; background-color:black">Enregistrer</button>

                        </center>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--MODIFIER PATIENT -->
<div id="modifierPatient" class="modal container-fluid ">
    <div class="container" style="width:70%">
        <div class="row">
            <div class="col-12">
                <div class="card p-4" style="margin:10px">
                    <div class="card-header" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class=" shadow-primary border-radius-lg">
                            <h3 class="text-capitalize  text-center">Modifier Patient </h3>
                        </div>
                    </div>
                    <center> <p style="background-color:white;color:red" id="smsM"></p></center>
                    <center> <p style="background-color:white;color:green" id="messageM"></p></center>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline ">
                                    <label class="text" style="width:100%;color:black">Prénom</label>
                                    <input type="text" class="form-control" onchange="hideErrorM()" style="background-color:whitesmoke" name="Name" id="NameM" required>
                                </div>
                                <p class="text-danger" id="NameErrorM" style="font-size: 80%;font-weight: bold">Veuillez saisir le prénom svp </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline ">
                                    <label class="text" style="width:100%;color:black">Nom</label>
                                    <input type="text" class="form-control" onchange="hideErrorM()" style="background-color:whitesmoke" name="Surname" id="SurnameM" required>
                                </div>
                                <p class="text-danger" id="SurnameErrorM" style="font-size: 80%;font-weight: bold">Veuillez saisir le nom svp </p>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Adresse</label>
                                    <input type="text" class="form-control" style="background-color:whitesmoke" name="Adresse" id="AdresseM">
                                    <input name="patientIDM" id="patientIDM" type="text" class="form-control" hidden>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Date de Naissance </label>
                                    <input type="date" class="form-control" onchange="hideErrorM()" id="myDateM" style="background-color:whitesmoke" name="Birth" required>
                                </div>
                                <p class="text-danger" id="BirthErrorM" style="font-size: 80%;font-weight: bold">Veuillez saisir la date de naissance svp </p>

                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="=text" style="width:100%;color:black">Nom complet accompagnant </label>
                                    <input type="text" class="form-control" style="background-color:whitesmoke" name="Accompagner" id="AccompagnerM" placeholder="nom complet accompagnant">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Sexe</label>
                                    <select name="Gender" id="GenderM" onchange="hideErrorM()" class="form-control" style="background-color:whitesmoke" required>

                                        <option value="Homme">Homme </option>
                                        <option value="Femme" selected>Femme</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline">
                                    <label class="text" style="width:100%;color:black">Profession</label>
                                    <input type="text" class="form-control" style="background-color:whitesmoke" id="ProfessionM" name="Profession">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <label class="text" style="width:100%">T&eacute;l&eacute;phone  <span id="NumeroFormatM" style="color:red">Numero Format invalid</span></label>
                                    <p id="PhoneParaM" style="border-style: solid; border-width: 1px; border-radius: 5px; border-color: #DFE3E7 "><input name="PhoneT" id="PhoneTM" onchange="showPhoneM()" type="tel" onkeypress="return isNumberKey2(this.id);" class="form-control " required></p>
                                </div>
                                <p class="text-danger" id="PhoneTErrorM" style="font-size: 80%;font-weight: bold">Veuillez saisir le numéro de téléphone svp </p>

                                <input name="Phone" id="PhoneM" type="text" class="form-control" hidden>
                            </div>
                        </div>
                        <center>
                            <button class="btn btn-primary" onclick="document.getElementById('modifierPatient').style.display = 'none'" style="float:left; background-color:black"> Fermer</button>

                            <button class="btn btn-primary" onclick="showErrorM()" style="float:right; background-color:black"> Enregistrer</button>

                        </center>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="docteur" class="modal container-fluid ">
    @using (Html.BeginForm("EchangePatientEntreDocteur", "Admin", FormMethod.Post))
    {<div class="container" style="width: 70%;">

            <div class="row" style="background-color: white;">
                <div class="panel panel-primary" style="margin-top:10px ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="panel-heading" style="border: solid; background: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <center>
                            <a style="color:white;font-weight:bold">Transfert Patient Entre Docteur  </a>
                        </center>
                    </div>
                    <br />

                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group input-group-outline mb-3">
                                <label class="text" style="width:100%;color:black;float:left">De Docteur :</label>
                                <select class="form-control" onchange="hideError()" style="width:300px;height:40px;background-color:whitesmoke" name="DeDocteur" id="DeDocteur" required>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="No" style="background-color:whitesmoke" id="No" hidden>
                            <p class="text-danger" id="DeDocteurError" style="font-size: 80%;font-weight: bold">Veuillez choisir un docteur propriétaire svp </p>

                        </div>
                        <div class="col-lg-4" style="margin-top:20px;">
                            <center>
                                <span class="fa fa-share" style="width:60px"></span>
                            </center>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group input-group-outline mb-3">
                                <label class="text" style="width:100%;color:black;float:left"> A Docteur :</label>
                                <select class="form-control" onchange="hideError()" style="width:300px;height:40px;background-color:whitesmoke" name="ADocteur" id="ADocteur" required>
                                </select>
                            </div>
                            <p class="text-danger" id="ADocteurError" style="font-size: 80%;font-weight: bold">Veuillez choisir un docteur destinateur svp </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <center style="margin-top:20px;">
                                <a class="btn btn-primary" onclick="document.getElementById('docteur').style.display = 'none'; window.location.reload()" style=" background-color:black;margin:20px;color:white"> Retour</a>
                                <button class="btn btn-primary" onclick="showError()" style=" background-color:black;margin:20px;">  Transférer</button>
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </div>}
</div>
<div id="bloquageModal" class="modal container-fluid ">
    <div class="container-fluid" style="width:50%">
        <div class="row" style="margin-bottom:50%">
            <div class="card p-4">
                <center> <p style="background-color: white; color: red">Voulez-vous bloquer ce patient ?</p></center>
                <div class="card-body">
                    <center>
                        <div class="col-lg-6">
                            <a class="btn btn-primary" onclick="bloquage()" style="color: white; background-color: #03DAFC; width: 100%"> Oui</a>
                        </div>
                        <input type="text" class="form-control" id="patientID" name="patientID" hidden />

                        <div class="col-lg-6">
                            <a class="btn btn-primary" onclick=" document.getElementById('bloquageModal').style.display = 'none'" style="color: white; background-color: #03DAFC; width: 100% ">Non</a>

                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>


</div>
<!--AJOUTER PAIEMENT -->
<div id="ajouterPaiement" class="modal container-fluid ">
    <div class="container" style="width:70%">
        <div class="row">
            <div class="col-12">
                <div class="card p-4" style="margin:10px">
                    <div class="card-header" style="border: solid; font-size: 30px; background-color: #03DAFC; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class=" shadow-primary border-radius-lg">
                            <h3 class="text-capitalize  text-center">Nouveau Paiement</h3>
                        </div>
                    </div>
                    <center> <p style="background-color: white; color: red" id="smsP"></p></center>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="text" style="width:100%">Nom Patient</label>

                                    <input type="text" class="form-control" name="Surname" Id="SurnamePaiement" style="background-color:whitesmoke" readonly>

                                    <input type="text" style="display:none" id="Id_patient" name="Id_patient" hidden />

                                </div>
                                <p class="text-danger" id="Id_patientError" style="font-size: 80%;font-weight: bold">Veuillez choisir un patient svp </p>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="=text" style="width:100%">Département</label>
                                    <select class="form-control" onchange="chooseDepartement()" style="width: 100%; height: 40px; background-color: whitesmoke " name="Id_departement" id="Id_departement" required>
                                        <option></option>

                                        @foreach (var departement in Model.liste_departements)
                                        {
                            <option value="@departement.departementID">@departement.nom</option>}
                                    </select>
                                </div>
                                <p class="text-danger" id="Id_departementError" style="font-size: 80%;font-weight: bold">Veuillez choisir un département svp </p>

                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="=text" style="width:100%">Docteur</label>
                                    <select class="form-control" style="width:300px;height:40px;background-color:whitesmoke" name="Id_docteur" id="Id_docteur">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="text" style="width:100%">Montant Consultation</label>
                                    <input type="text" class="form-control" onchange=" hideErrorP()" onkeypress="return isNumberKey2(this.id);" style="background-color:whitesmoke" id="Mcon" name="Mcon" required>
                                </div>
                                <p class="text-danger" id="MconError" style="font-size: 80%;font-weight: bold">Veuillez saisir le montant de la consultation svp </p>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="=text" style="width:100%">Assurance</label>
                                    <select class="form-control" style="width:300px;height:40px;background-color:whitesmoke" name="Assurance" id="Assurance">
                                        <option value="" selected disabled hidden>Choisir un assurance</option>
                                        @foreach (var assurance in Model.liste_assurances)
                                        {
                            <option value="@assurance.assuranceID">@assurance.nom</option>}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="=text" style="width:100%">Montant à payer</label>
                                    <input type="text" class="form-control" id="ME" style="background-color:whitesmoke" name="ME" readonly>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="text" style="width:100%">Taux de prise en charge  Assurance(%)</label>
                                    <input type="number" placeholder="0.00" step="0.01" min="0" max="100" onchange="checkTaux()" class="form-control" onkeypress="return isNumberKey2(this.id);" style="background-color:whitesmoke" id="taux_prise_en_charge" name="taux_prise_en_charge">
                                </div>
                                <p class="text-danger" id="taux_prise_en_chargeError" style="font-size: 80%;font-weight: bold">Veuillez saisir un taux inférieur ou égal à 100 svp </p>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="=text" style="width:100%">Montant Assurance</label>
                                    <input type="text" id="MA" class="form-control" style="background-color:whitesmoke" name="MA" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label for="upload" name="url_lettre_prise_en_charge" class="=text" style="width:100%">Télécharger la prise en charge</label>
                                    <input type="file" name="file" id="file" accept="application/pdf" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="text" style="width:100%">Observation</label>
                                    <textarea id="Ob" name="Ob" rows="2" cols="70" style="color: #1b3b65; font-family: Verdana; width: 100%; "></textarea>
                                </div>
                            </div>
                        </div>
                        <center>
                            <button class="btn btn-primary" onclick="document.getElementById('ajouterPaiement').style.display = 'none'" style="float:left; background-color:black"> Fermer</button>

                            <button class="btn btn-primary" onclick="showErrorP()" style="float:right; background-color:black"> Enregistrer</button>

                        </center>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    function bloquageModal(id)
    {
        document.getElementById('bloquageModal').style.display = 'block'
        document.getElementById('patientID').value = id;
    }
    function bloquage()
    {


        $.post('@Url.Action("desactiverPatient")', { No: document.getElementById('patientID').value},
                             function (reponse)
                             {

                                window.location.reload()


                            }).fail(function (xhr, status, error)
                            {
                                window.location.reload()

                           });

    }
    function partagerPatient(id)
    {
        document.getElementById('No').value = id;

        $('#DeDocteurError').hide();
        $('#ADocteurError').hide();
        document.getElementById('docteur').style.display = 'block'
        var listConsultations =@Html.Raw(Json.Encode(@Model.liste_consultations));
        var listdocteurs =@Html.Raw(Json.Encode(@Model.liste_docteurs));
        var listDocteurIDS = [...new Set(listConsultations.filter(s => s.patientID == id).map(x => x.docteurID))];


        // INITIALISER LE SELEC=$ùT
        $("#DeDocteur").empty()
        $("#DeDocteur").append('<option> </option>');
        listDocteurIDS.forEach(p => $("#DeDocteur").append('<option value="' + p + '">' + listdocteurs.filter(s => s.utilisateurID == p)[0].prenom + " - " + listdocteurs.filter(s => s.utilisateurID == p)[0].nom + '</option>'))



        $("#ADocteur").empty()
        $("#ADocteur").append('<option> </option>');

        listdocteurs.filter(function (item) { return !listDocteurIDS.includes(item.utilisateurID)}).forEach(p =>
                $("#ADocteur").append('<option value="' + p.utilisateurID + '">' + p.prenom + " - " + p.nom + '</option>')

        )

    }

    function showError()
    {
        if ($('#DeDocteur').val().length == 0) { $('#DeDocteurError').show(); }
        if ($('#ADocteur').val() == null) { $('#ADocteurError').show(); }



    }
    function hideError() {

        if ($('#DeDocteur').val() != null) { $('#DeDocteurError').hide(); }
        if ($('#ADocteur').val() != null) { $('#ADocteurError').hide(); }

    }

</script>

<!-- SRIPT AJOUTER PATIENT-->
<script>
    $('#SurnameError').hide();
    $('#PhoneTError').hide();
    $('#NameError').hide();
    $('#BirthError').hide();

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("myDate").setAttribute("max", today);
    // Recuper la date de naissance dans le champ
    var date = document.getElementById("myDate").getAttribute('value');
    document.getElementById("myDate").value = (date != null) ? new Date(Number(date.split('/')[2]), Number(date.split('/')[1]) - 1, Number(date.split('/')[0])).toJSON().slice(0, 10) : null

    function isNumberKey2(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<script>
    document.getElementById("NumeroFormat").style.display = 'none';
    const phoneInputField = document.querySelector("#PhoneT");
    const phoneInput = window.intlTelInput(phoneInputField, {
        // allowDropdown: false,
        // autoHideDialCode: false,
         autoPlaceholder: "off",
        // dropdownContainer: document.body,
        //  excludeCountries: ["us"],
        formatOnDisplay: false,
        /*  geoIpLookup: function(callback) {
            $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
              var countryCode = (resp && resp.country) ? resp.country : "sn";
              callback(countryCode);
           });
          },*/
        //hiddenInput: "full_number",
        initialCountry: "sn",
        //localizedCountries: { 'sn': 'Senegal' },
        nationalMode: true,
        onlyCountries: ['dz', 'ao', 'bj', 'bw', 'bf', 'bi', 'cm', 'cv', 'cf', 'td', 'km', 'cg', 'cd', 'ci', 'dj', 'eg',
            'gk', 'er', 'et', 'ga', 'gm', 'gh', 'gn', 'gw', 'ke', 'ls', 'lr', 'ly', 'mj', 'ml', 'mw', 'mr', 'mu', 'yt',
            'ma', 'mz', 'na', 'ne', 'ng', 're', 'rw', 'st', 'sn', 'sc', 'sl', 'so', 'za', 'ss', 'sd', 'sz', 'tz',
            'tg', 'tn', 'ug', 'eh', 'zm', ' zw'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        separateDialCode: true,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    $('#PhoneT').on("countrychange", function (event) {

        // Get the selected country data to know which country is selected.
        var selectedCountryData = phoneInput.getSelectedCountryData();

        // Get an example number for the selected country to use as placeholder.
        newPlaceholder = intlTelInputUtils.getExampleNumber(selectedCountryData.iso2, true, intlTelInputUtils.numberFormat.INTERNATIONAL),

            // Reset the phone number input.
            phoneInput.setNumber("");

        // Convert placeholder as exploitable mask by replacing all 1-9 numbers with 0s
        mask = newPlaceholder.replace(/[1-9]/g, "0");

        // Apply the new mask for the input
        $(this).mask(mask);
    });

     if (@Html.Raw(Json.Encode(@ViewBag.Telephone)) != null)
     {
         phoneInput.setNumber("+" +@Html.Raw(Json.Encode(@ViewBag.Telephone)));
         document.getElementById("PhoneT").value = "+" +@Html.Raw(Json.Encode(@ViewBag.Telephone));

    }


    function showPhone() {
        if ($('#Name').val() != null) { $('#NameError').hide(); }
        if ($('#Surname').val() != null) { $('#SurnameError').hide(); }
        if ($('#PhoneT').val() != null) { $('#PhoneTError').hide(); }
        if ($('#myDate').val() != null) { $('#BirthError').hide(); }

        if (phoneInput.isValidNumber()) {

            document.getElementById("NumeroFormat").style.display = 'none';
            document.getElementById("PhonePara").style.borderColor = "#DFE3E7";
            document.getElementById("Phone").value = phoneInput.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneT").value;

        }
        else {

            document.getElementById("NumeroFormat").style.display = 'none';
            document.getElementById("PhonePara").style.borderColor = "#DFE3E7";
            document.getElementById("Phone").value = phoneInput.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneT").value;

        }

    }
    function showError() {
        if ($('#Name').val().length == 0) {
            $('#NameError').show();
        }
        else if ($('#Surname').val().length == 0) { $('#SurnameError').show(); }
        else if ($('#PhoneT').val().length == 0) { $('#PhoneTError').show(); }
        else if ($('#myDate').val().length == 0) { $('#BirthError').show(); }
        else { enregistrerPatient();}

    }
    function hideError() {

        if ($('#Name').val() != null) { $('#NameError').hide(); }
        if ($('#Surname').val() != null) { $('#SurnameError').hide(); }
        if ($('#PhoneT').val() != null) { $('#PhoneTError').hide(); }
        if ($('#Birth').val() != null) { $('#BirthError').hide(); }


    }

</script>

<script type="text/javascript">

    function enregistrerPatient()
    {
        document.getElementById("sms").innerText=null
        document.getElementById("message").innerText = null

        $.post('@Url.Action("ajouterPatient")',
            {
                Accompagner: $('#Accompagner').val(),
                Name: $('#Name').val(),
                Surname: $('#Surname').val(),
                Gender: $('#Gender').val(),
                Birth: $('#myDate').val(),
                Adresse: $('#Adresse').val(),
                Profession: $('#Profession').val(),
                Phone: $('#Phone').val()
            },
            function (reponse)
            {

                switch (reponse.code) {
                    case 200:
                        document.getElementById("sms").innerText = null
                        document.getElementById("message").innerText = reponse.message
                        setTimeout(() => { window.location.reload() }, 1000);
                        break;
                    case 201:
                        document.getElementById("message").innerText = null
                        document.getElementById("sms").innerText = reponse.message
                        break;
                    default:
                        document.getElementById("message").innerText = null
                        document.getElementById("sms").innerText = reponse.message

                }



            }).fail(function (xhr, status, error) {
                document.getElementById("sms").innerText = " Une erreur interne est survenue"

            });

    }

</script>
<!-- SRIPT MODIFIER PATIENT-->
<script>
    $('#SurnameErrorM').hide();
    $('#PhoneTErrorM').hide();
    $('#NameErrorM').hide();
    $('#BirthErrorM').hide();

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("myDateM").setAttribute("max", today);

</script>

<script>



    function showPhoneM() {
        if ($('#NameM').val() != null) { $('#NameErrorM').hide(); }
        if ($('#SurnameM').val() != null) { $('#SurnameErrorM').hide(); }
        if ($('#PhoneTM').val() != null) { $('#PhoneTErrorM').hide(); }
        if ($('#myDateM').val() != null) { $('#BirthErrorM').hide(); }

        if (phoneInput.isValidNumber()) {

            document.getElementById("NumeroFormatM").style.display = 'none';
            document.getElementById("PhoneParaM").style.borderColor = "#DFE3E7";
            document.getElementById("Phone").value = phoneInput.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneTM").value;
        }
        else {

            document.getElementById("NumeroFormatM").style.display = 'none';
            document.getElementById("PhoneParaM").style.borderColor = "#DFE3E7";
            document.getElementById("PhoneM").value = phoneInput.getSelectedCountryData().dialCode + "" + document.getElementById("PhoneTM").value;

        }

    }
    function showErrorM() {
        if ($('#NameM').val().length == 0) {
            $('#NameErrorM').show();
        }
        else if ($('#SurnameM').val().length == 0) { $('#SurnameErrorM').show(); }
        else if ($('#PhoneTM').val().length == 0) { $('#PhoneTErrorM').show(); }
        else if ($('#myDateM').val().length == 0) { $('#BirthErrorM').show(); }
        else { modifierPatient() }
    }
    function hideErrorM() {

        if ($('#NameM').val() != null) { $('#NameErrorM').hide(); }
        if ($('#SurnameM').val() != null) { $('#SurnameErrorM').hide(); }
        if ($('#PhoneTM').val() != null) { $('#PhoneTErrorM').hide(); }
        if ($('#myDateM').val() != null) { $('#BirthErrorM').hide(); }


    }
    function isNumberKey2(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<script>
    function ouvrirModifierPatientModal(patientID)
    {
        const phoneInputFieldM = document.querySelector("#PhoneTM");
       const phoneInputM = window.intlTelInput(phoneInputFieldM, {
        // allowDropdown: false,
        // autoHideDialCode: false,
         autoPlaceholder: "off",
        // dropdownContainer: document.body,
        //  excludeCountries: ["us"],
        formatOnDisplay: false,
        /*  geoIpLookup: function(callback) {
            $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
              var countryCode = (resp && resp.country) ? resp.country : "sn";
              callback(countryCode);
           });
          },*/
        //hiddenInput: "full_number",
        initialCountry: "sn",
        //localizedCountries: { 'sn': 'Senegal' },
        nationalMode: true,
        onlyCountries: ['dz', 'ao', 'bj', 'bw', 'bf', 'bi', 'cm', 'cv', 'cf', 'td', 'km', 'cg', 'cd', 'ci', 'dj', 'eg',
            'gk', 'er', 'et', 'ga', 'gm', 'gh', 'gn', 'gw', 'ke', 'ls', 'lr', 'ly', 'mj', 'ml', 'mw', 'mr', 'mu', 'yt',
            'ma', 'mz', 'na', 'ne', 'ng', 're', 'rw', 'st', 'sn', 'sc', 'sl', 'so', 'za', 'ss', 'sd', 'sz', 'tz',
            'tg', 'tn', 'ug', 'eh', 'zm', ' zw'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        separateDialCode: true,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    $('#PhoneTM').on("countrychange", function (event) {

        // Get the selected country data to know which country is selected.
        var selectedCountryData = phoneInputM.getSelectedCountryData();

        // Get an example number for the selected country to use as placeholder.
        newPlaceholder = intlTelInputUtils.getExampleNumber(selectedCountryData.iso2, true, intlTelInputUtils.numberFormat.INTERNATIONAL),

            // Reset the phone number input.
            phoneInputM.setNumber("");

        // Convert placeholder as exploitable mask by replacing all 1-9 numbers with 0s
        mask = newPlaceholder.replace(/[1-9]/g, "0");

        // Apply the new mask for the input
        $(this).mask(mask);
    });


        document.getElementById("NumeroFormatM").style.display = 'none';
        document.getElementById('modifierPatient').style.display = 'block'
        document.getElementById('patientIDM').value = patientID;
        var patients = @Html.Raw(Json.Encode(Model.patients));
        var patient = patients.filter(e => e.patientID == patientID)[0];
        $('#AccompagnerM').val(patient.prenom_accompagnant),
                $('#NameM').val(patient.nom),
                $('#SurnameM').val(patient.prenom),
                $('#GenderM').val(patient.sexe),
            $('#myDateM').val(new Date(Number(patient.date_naissance.split("/")[1].split("(")[1].split(")")[0])).toJSON().slice(0, 10)),
                $('#AdresseM').val(patient.adresse),
                $('#ProfessionM').val(patient.profession),
                 phoneInputM.setNumber("+" +patient.telephone_patient)
        $('#PhoneM').val(patient.telephone_patient)
        // Recuper la date de naissance dans le champ

    }



    function modifierPatient()
    {
        document.getElementById("smsM").innerText=null
        document.getElementById("messageM").innerText = null

        $.post('@Url.Action("modifierPatient")',
            {
                Accompagner: $('#AccompagnerM').val(),
                Name: $('#NameM').val(),
                Surname: $('#SurnameM').val(),
                Gender: $('#GenderM').val(),
                Birth: $('#myDateM').val(),
                Adresse: $('#AdresseM').val(),
                Profession: $('#ProfessionM').val(),
                Phone: $('#PhoneM').val(),
                No: document.getElementById('patientIDM').value
            },
            function (reponse)
            {

                switch (reponse.code) {
                    case 200:
                        document.getElementById("smsM").innerText = null
                        document.getElementById("messageM").innerText = reponse.message
                        setTimeout(() => { window.location.reload() }, 1000);
                        break;
                    case 201:
                        document.getElementById("messageM").innerText = null
                        document.getElementById("smsM").innerText = reponse.message
                        break;
                    default:
                        document.getElementById("messageM").innerText = null
                        document.getElementById("smsM").innerText = reponse.message

                }



            }).fail(function (xhr, status, error) {
                document.getElementById("smsM").innerText = " Une erreur interne est survenue"

            });

    }



</script>
<!--FIN MODIFIER-->
<!--AJOUTER PAIEMENT-->
<script>
    $('#Id_patientError').hide();
    $('#Id_departementError').hide();
    $('#MconError').hide();
    $('#taux_prise_en_chargeError').hide();

    $("#Id_docteur").select2({
        placeholder: "Choisir docteur"
    });

    $("#Id_departement").select2({
        placeholder: "Choisir département"
    });
    function isNumberKey2(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function showErrorP() {
        if ($('#Id_patient').val() == null) { $('#Id_patientError').show(); }
        else if ($('#Id_departement').val() == null) { $('#Id_departementError').show(); }
        else if ($('#Mcon').val().length == 0) { $('#MconError').show(); }
        else { ajouterPaiement();}
    }
    function hideErrorP() {

        if ($('#Id_patient').val() != null) { $('#Id_patientError').hide(); }
        if ($('#Id_departement').val() != null) { $('#Id_departementError').hide(); }
        if ($('#Mcon').val().length != 0) { $('#MconError').hide(); }

    }

    function checkTaux() {
        if ($('#taux_prise_en_charge').val() > 100) {
            $('#taux_prise_en_chargeError').show();
            $('#envoyer').hide();

        }
        else {
            $('#taux_prise_en_chargeError').hide();
            $('#envoyer').show();

        }
    }
     function ouvrirPaiementModal(patientID)
    {
        var patients = @Html.Raw(Json.Encode(Model.patients));
        var patient = patients.filter(e => e.patientID == patientID)[0];

            $('#Id_patient').val(patientID),
            $('#SurnamePaiement').val(patient.prenom + " "+ patient.nom)
            document.getElementById('ajouterPaiement').style.display = 'block'

     }

</script>
<script>
    function ajouterPaiement() {
        document.getElementById("smsP").innerText = null
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#file").get(0);
            var files = fileUpload.files;
            var file = files[0]
            // Create FormData object
            var fileData = new FormData();
            fileData.append("file", file);
            fileData.append("MA", $('#MA').val());
            fileData.append("Mcon", $('#Mcon').val());
            fileData.append("ME", $('#ME').val());
            fileData.append("Ob", $('#Ob').val());
            fileData.append("Assurance", $('#Assurance').val());
            fileData.append("Id_docteur", $('#Id_docteur').val());
            fileData.append("Id_departement", $('#Id_departement').val());
            fileData.append("taux_prise_en_charge", $('#taux_prise_en_charge').val());
            fileData.append("url_lettre_prise_en_charge", $('#url_lettre_prise_en_charge').val());
            fileData.append("Id_patient", $('#Id_patient').val());

            $.ajax({
                method: 'post',
                processData: false,
                contentType: false,
                cache: false,
                data: fileData,
                enctype: 'multipart/form-data',
                url: "/Admin/AjouterPaiement",
                success: function (reponse) {
                    switch (reponse.code) {
                        case 200:
                            window.location.href = "/" + reponse.controller + "/" + reponse.action + "?No=" + reponse.param;
                            break;
                        case 201:
                            document.getElementById("smsP").innerText = reponse.message
                            break;
                        default:
                            document.getElementById("smsP").innerText = reponse.message

                    }
                }
            });

        } else {
            document.getElementById("smsP").innerText = "FormData is not supported."
        }

    };
</script>

<script>
    // saisi automatique montant assurance
    document.getElementById('taux_prise_en_charge').addEventListener('input', updateValueMontantAssuranceTaux);
    document.getElementById('Mcon').addEventListener('input', updateValueMontantAssuranceMontantConsultation);
    document.getElementById('MA').addEventListener('input', updateValueMontantAssuranceTaux);
    document.getElementById('ME').addEventListener('input', updateValueMontantAssuranceTaux);


    var listOptionADocteur = $('option.docteur');
    for (let i = 0; i < listOptionADocteur.length; i++) {
        listOptionADocteur[i].hidden = true
    }


    function chooseDepartement() {
        if ($('#Id_patient').val() != null) { $('#Id_patientError').hide(); }
        if ($('#Id_departement').val() != null) { $('#Id_departementError').hide(); }
        if ($('#Mcon').val().length != 0) {$('#MconError').hide(); }
        var id_departementChoose = document.getElementById('Id_departement').value;
        var listDocteurs = @Html.Raw(Json.Encode(Model.liste_docteurs));
        var listsDocteurPourLeDepartementChoisi = listDocteurs.filter(a => a.departementID == id_departementChoose)
        $("#Id_docteur").empty()
        $("#Id_docteur").append('<option value="0"> </option>');

        listsDocteurPourLeDepartementChoisi.forEach(p => $("#Id_docteur").append('<option value="' + p.utilisateurID + '">' + p.prenom + p.nom + '</option>'))

    }

    function updateValueMontantAssuranceTaux(e) {
        var montantConsultation = document.getElementById('Mcon').value;
        document.getElementById('MA').value = Math.round((e.target.value * montantConsultation) / 100);
        document.getElementById('ME').value = Math.round(montantConsultation - (e.target.value * montantConsultation) / 100);

    }

    function updateValueMontantAssuranceMontantConsultation(e) {
        var taux_prise_en_charge = document.getElementById('taux_prise_en_charge').value;
        document.getElementById('MA').value = Math.round((e.target.value * taux_prise_en_charge) / 100);
        document.getElementById('ME').value = Math.round(e.target.value - (e.target.value * taux_prise_en_charge) / 100);


    }




</script>